
span{
    user-select: none;
    background: lightblue;
    padding: .2em;
    cursor: pointer;
}

.play-container{
    border: 1px solid;
    padding: .5em;
    margin: 35px;
    margin-right: 120P;
}
.activeClass{
    background-color: yellow;
    border: 1px solid;
    padding: 1.5em;
}
.deactiveClass{
    background-color: grey;
    border: 1px;
    padding: .5em;
}